*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Montserrat,"Helvetica Neue",Verdana,"Helvetica CY","Nimbus Sans L",sans-serif;
}
.clear{
  clear:both;
}
button:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
header {
    position: fixed;
    z-index: 9999;
}
.main-header{
  width: 100%;
  background: white;
  box-shadow: 1px 4px 10px grey;
}
.main-header-one{
  width:10%;
  float:left;
}
.main-header-one img{
  width: 100%;
  margin: 0px 43px;
}
.main-header-two{
  width:70%;
  float:left;
}
.main-header-two ul{
  list-style-type: none;
  float:left;
      margin: 39px 111px;

}
a.bxst-header-menu-list-item-link {
    color: #93182d;
    padding: 0 15px;
    margin: 0 7px;
    font-weight: 100;
    font-family: sans-serif;

}
.bxst-header-menu-list-item{
    display:inline-block;
}
.main-header-three{
  width:20%;
  float:left;
  margin: 32px 0px;
}
.main-header-three button {
    color: white;
    background: #93182d;
    padding: 8px 17px;
    border-radius: 16em;
}
.main-header-three i{
  font-size: 30px;
    margin: 0 30px;
}
section{
  width: 100%;
  padding-top: 75px;
    position: relative;
}
.main-section{
  width: 100%;
  background:#93182d;
}
.main-section-one{
  width: 80%;
  margin: 0 auto;
}
.main-section-one-text{
  float: left;
  width: 50%;
  margin: 90px 0px;

}
#section-one{
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3;
  color: white;

}
#section-two{
  margin-top: 17px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7;
  color: white;


}
.main-section-one-text button{
    height: 50px;
    font-size: 13px;
    line-height: 26px;
    background-color: #b7db2a;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0 20px;
}
.main-section-one-pic{
  float: left;
  width: 600px;
  overflow: hidden;
  position: relative;
}
.main-slider{
  width:300% ;
  display: flex;
}
.slider {
    margin: 105px 0px;
    width: 33.33%;

}
.slider img{
  width: 100%;
  height:315px;
}
.w3-button{
  display:none;
}
/*  --------- main section two1-----------   */
.main-section-two{
  width: 80%;
  margin: 0 auto;
  background: white;
}
.main-section-two-1 p{
  text-align: center;
font-size: 52px;
font-family: unset;
margin: 76px 0px 15px 0px;
}
.main-section-two-2 ul li{
  float: left;
  list-style-type: none;
  padding: 22px 100px 22px 0px;

}
.main-section-two-2 ul {
    margin: 0 0 53px 57px;
}
.main-section-two-2 ul li i{
  text-align: center;
  font-size: 36px;
  color: white;
  background: #93182d;
  padding: 21px 26px;
  border-radius: 50%;
  margin: 20px 15px;
}
.main-section-two-2 ul li:before{
  margin: 0 40px 0 -104px;
    content: "............";
    color: lightblue;
    padding: 0px 0 0 0;
}
.main-section-two-2 ul li:first-child:before{
  content:" " ;
}
.main-section-two-2 ul p{
  font-size: x-small;
  text-align: center;
  cursor: pointer;
}
   /*----------main-section-two-3-----------*/
.main-section-two-3{
  width: 80%;
  margin: 0 0 90px 0;
}
.section-two-3-text{
  float: left;
  width: 50%;
}
#section-two-3-text1{
  font-size: 35px;
  margin-bottom: 15px;

}
#section-two-3-text2{
  font-size: 19px;
  padding-bottom: 35px;
}
#section-two-3-text3{
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 28px;
}
#section-two-3-text3 a {
    color: #43e0fa;
}
.section-two-3-text button{
  height: 50px;
  font-size: 13px;
  line-height: 26px;
  background-color: #93182d;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 0 31px;
}
.section-two-3-pic{
  float: left;
  width: 50%;
}
.section-two-3-pic img {
    width: 61%;
    margin: 0 0 0 230px;
}
/*-------------main-section-three------------*/
.main-section-three{
  width:100%;
  background: #93182d;
}
.main-section-three-3{
width: 80%;
 margin: 0 auto;
}
.main-section-three-date{
  float: left;
  width: 25%;
  color: white;
  font-size: 60px;
  padding: 0px 0px 0px 5px;
  margin: 50px 23px 50px 235px;
  border: 2px solid white;
}
.main-section-three-date img {
    width: 17%;
}
.main-section-three-text{
  float: left;
  width:50%;
  margin: 50px 0;
}
.main-section-three-text p{
  font-size: 40px;
  color: white;
}
.main-section-three-text a {
    font-size: 40px;
    color: white;
}
/*--------------------main-section-four--------------------------*/

.main-section-four{
  width: 80%;
  margin: 0 auto;
}
.main-section-four-1{

}
.main-section-four-text p{
  font-size: 44px;
  margin: 80px 0px 20px 0;
  text-align: center;
  font-family: initial;

}
.main-section-four-image img{
      margin: 0px 225px;
}
.main-section-four-button button{
    background: #93182d;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
        margin: 30px 0 70px 0;
}
/*-----------------------main-section-five------------------------*/
.main-section-five{
  width: 100%;
  background: #93182d;
}
.main-section-five-1{
  width: 80%;
  margin: 0 auto;
}
.main-section-five-1 p{
  font-size: 28px;
 padding: 38px 0;
 text-align: center;
}
.main-section-five-1 button{
    height: 36px;
    font-size: 9px;
    line-height: 23px;
    background-color: #b7db2a;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0 17px;
    margin: 7px 0 30px 0;

}
/*------------main-section-six--------------*/
.main-section-six{
  width: 80%;
  margin: 0 auto;
}
.main-section-six-text{
  font-size: 39px;
    margin: 65px 0 47px 0px;
    text-align: center;
}
.main-section-six-icon1{
  float: left;
  width: 33.33%;
}
.main-section-six-icon1 img{
  width: 35%;
  margin: 0px 0 0 133px;
}
.main-section-six-icon1 #icon-one{
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}
.main-section-six-icon1 #icon-two{
  text-align: center;
  font-size: 10px;
  color:lightgray;
}
.main-section-six-button button{
  border: 2px solid #93182d;;
    background: white;
    color: #93182d;
    padding: 12px 28px;
    border-radius: 25px;
    font-size: 10px;
    margin: 50px 0 35px 0;
}
/*----------------main-section-seven--------------------*/
.main-section-seven{
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.main-section-seven-1{
  width: 80%;
  margin: 0 auto;
}
.main-section-seven-1 p{
  font-size: 28px;
  text-align: center;
  margin: 60px 0 40px 0;
}
.main-section-seven-1 ul li{
  display: block;
  float: left;
  padding: 0px 37px;
}
/*---------------------main-section-eight------------------------*/
.main-section-eight{
  width: 80%;
  margin: 0 auto;
}
.main-section-eight-text{
  float: left;
  width: 50%;
  margin-top: 50px;
}
.main-section-eight-text span{
  font-size: 35px;
  text-align: center;
  margin: 0 0 0px 70px;
}
.main-section-eight-text p{
  font-size: 13px;
  padding: 17px 40px 0px 0px;
  margin: 0 0 0px 70px;
}
.main-section-eight-text button{
  border: 1px solid rgb(15, 89, 254);
  color: rgb(15, 89, 254);
  padding: 8px 10px;
  border-radius: 30px;
  background: white;
  margin: 30px 0px 0px 70px;
}
.main-section-eight-pic{
  float: left;
  width: 50%;
  margin-top: 50px;
}
.main-section-eight-pic img {
    width: 100%;
}
/*--------------------------footer------------------------------*/
footer{
  width: 100%;
  background-color: #f862693d;
}
/*---------footer-1------------*/
.footer-one{
  width: 80%;
  margin: 0 auto;
      border-bottom: 1px solid black;
}
.footer-one ul{
  float: left;
  padding: 0px 48px;
  margin: 30px 0px 40px 0;
}
.footer-one ul a {
    color:#93182d;
}
.footer-one ul li{
  display: block;
  font-size: 13px;
  padding: 10px 0px 0px 0;
}
/*---------footer-2------------*/
.footer-two{
  width: 80%;
  margin: 0 auto;
      border-bottom: 1px solid black;
}
.footer-two-1{
  float: left;
  width: 50%;
    margin: 15px 0;
}
.footer-two-1 ul li{
  font-size: 14px;
  display: inline-block;
  padding: 15px 35px;
  color: saddlebrown;
  font-family: monospace;
}
.footer-two-2{
  float: left;
  width: 50%;
      margin: 15px 0;
}
.footer-two-2 ul li{
  display: inline-block;
  padding: 0px 40px;
}
/*---------footer-3------------*/
.footer-three{
  width: 80%;
  margin: 0 auto;
}
.footer-three p{
  text-align: right;
  font-size: 13px;
  font-family: inherit;
  margin: 13px 0 13px 0;
}
.footer-three a{
  color: #93182d;
}




/*/*//**----------------------------javascript----------------------------------------*//*/*//*/*/
.slider{
  display: ;
}
